Secure DMZ -- Java -- INCOMPLETE/WebContent/wsdl/SecureDMZ.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://dmz.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://dmz.com" xmlns:intf="http://dmz.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://dmz.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="runOperation">
    <complexType>
     <sequence>
      <element name="uuid" type="xsd:string"/>
      <element name="message" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="runOperationResponse">
    <complexType>
     <sequence>
      <element name="runOperationReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="runOperationResponse">

      <wsdl:part element="impl:runOperationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="runOperationRequest">

      <wsdl:part element="impl:runOperation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SecureDMZ">

      <wsdl:operation name="runOperation">

         <wsdl:input message="impl:runOperationRequest" name="runOperationRequest">

       </wsdl:input>

         <wsdl:output message="impl:runOperationResponse" name="runOperationResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SecureDMZSoapBinding" type="impl:SecureDMZ">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="runOperation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runOperationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="runOperationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SecureDMZService">

      <wsdl:port binding="impl:SecureDMZSoapBinding" name="SecureDMZ">

         <wsdlsoap:address location="http://localhost:8080/DMZ/services/SecureDMZ"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
